[submodule "awesome-artificial-intelligence"]
	path = awesome-artificial-intelligence
	url = git@github.com:owainlewis/awesome-artificial-intelligence.git
[submodule "awesome-machine-learning"]
	path = awesome-machine-learning
	url = git@github.com:josephmisiti/awesome-machine-learning.git
[submodule "awesome-deep-vision"]
	path = awesome-deep-vision
	url = git@github.com:kjw0612/awesome-deep-vision.git
[submodule "awesome-computer-vision"]
	path = awesome-computer-vision
	url = git@github.com:jbhuang0604/awesome-computer-vision.git
[submodule "awesome-deep-learning-papers"]
	path = awesome-deep-learning-papers
	url = git@github.com:terryum/awesome-deep-learning-papers.git
[submodule "awesome-rnn"]
	path = awesome-rnn
	url = git@github.com:kjw0612/awesome-rnn.git
[submodule "awesome-random-forest"]
	path = awesome-random-forest
	url = git@github.com:kjw0612/awesome-random-forest.git
